* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  width: 100%;
}
header h1 {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}
button {
  border: 0.1rem solid rgb(0, 173, 253);
  border-radius: 0.2rem;
  background-color: rgb(0, 173, 253);
  color: white;
  padding: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  margin: 0 auto;
}
section {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.description p {
  font-size: medium;
  margin-left: 1rem;
  margin-top: 0.1rem;
}
figure {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  height: 130px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  flex-direction: column;
  transition: 0.4s;
}
figure:hover {
  height: 150px;
  width: 240px;
  border: 0.1rem solid rgb(0, 173, 253);
}
figure:hover img {
  align-self: center;
  height: 150px;
  padding: 0.5rem;
  border-radius: 0.7rem;
}
figure:hover > figcaption {
  font-size: 1rem;
  color: rgb(0, 173, 253);
}
figcaption {
  align-self: center;
  text-align: center;
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 0.5rem;
}
figure img {
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  border-radius: 0.7rem;
}
footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
body.alto-contraste {
  background-color: black;
  color: white;
}

body.alto-contraste header,
body.alto-contraste footer {
  background-color: black;
  color: yellow;
}

body.alto-contraste button {
  background-color: yellow;
  color: black;
  border: 1px solid white;
}

body.alto-contraste figure {
  background-color: white;
  border: 1px solid lightgrey;
}

body.alto-contraste figcaption {
  color: grey;
}

body.alto-contraste figcaption:hover {
  color: yellow;
}
