body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: black;
}
div {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
}
.before,
.after {
  display: block;
  height: 300px;
  width: 600px;
  object-fit: cover;
}
.after {
  position: relative;
  z-index: 1;
}
.before {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  clip-path: inset(0 50% 0 0);
}

.divider {
  height: 100%;
  transform: translateX(-50%);
  appearance: none;
  top: 0;
  left: 50%;
  position: absolute;
  outline: none;
  border: none;
  caret-color: transparent;
  cursor: ew-resize;
  width: 30px;
  background-image: url(splitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 3;
}
#after,
#before {
  position: absolute;
  z-index: 4;
  padding: 8px;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.511);
  text-align: center;
  color: white;
}
#after {
  right: 0;
}
#before {
  left: 0;
}
